
<div class="sticky-top pt-4 bg-white  custom-sticky">
  <div class="container mb-2">
    <div class="d-flex justify-content-between align-items-center">
      <h3 class="currency-info">{{ toCurrencyFullName }}</h3>
      <button class="btn btn-primary" [routerLink]="['/home', 'converter-panel']" [queryParams]="{ from: fromCurrency, to: toCurrency }">Back To Home</button>
    </div>
  </div>
  <app-currency-converter [fromCurrency]="fromCurrency" [isMoreDetailHidden]="true" [isFromCurrencyDisabled]="true" [toCurrency]="toCurrency"></app-currency-converter>
</div>

<div class="container mt-4">
    <h5 class="">Historical Chart</h5>
      <div *ngIf="historicalData.length > 0" class="chart-container">
        <ngx-charts-line-chart
          [results]="historicalData"
          [xAxis]="true"
          [yAxis]="true"
          [legend]="true"
          [gradient]="false"
          [showXAxisLabel]="true"
          [showYAxisLabel]="true"
          xAxisLabel="Date"
          yAxisLabel="Value"
          [autoScale]="true"
        ></ngx-charts-line-chart>
      </div>
      <div *ngIf="historicalData.length === 0" class="no-data-message">
        No historical data available.
      </div>
    </div>
